.jumbotron {
    background-color:#c6afe4;
    color: black;
    margin-top: 50px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #c6afe4;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}



.btn{
    margin-top: 5px;
} 